parameters:
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
        - phpstan/Rules

services:
    -
        class: Kekke\PHPStan\Rules\ImmutableConfigConstructorRule
        tags: [phpstan.rules.rule]
